#container {
  margin: 0;
  text-align: center;
}

#video-src-button{
background-color:#ba2323;
 padding:10px;
 font-family: 'Open Sans', sans-serif;
 font-size:12px;
 text-decoration:none;
 color:#fff;
 border: solid 1px #831212;
 background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
 border-radius: 5px;
}

#video-src-button:hover{
    padding-bottom:9px;
    padding-left:10px;
    padding-right:10px;
    padding-top:11px;
    top:1px;
    background-image: linear-gradient(bottom, rgb(171,27,27) 100%, rgb(212,51,51) 0%);	
}

video, html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

video{
  height: 90%;
}
